include head

.p-2
    h1 Contact

    form#form-contact
        .form-group
            label Full Name
            input.form-control(name='fullname' type='text' placeholder='Full Name')
        .form-group
            label Contact Email
            input.form-control(name='email' type='text' placeholder='Email')
        .form-group
            label Message
            textarea.form-control(name='message' placeholder='Message...')
        .form-group
            input.btn.btn-dark(type='submit' value='send')

include foot

script(src="/js/contact.js")