footer.nav.bg-third.mt-auto
    a.nav-link.text-white(href = '/')="Phaser Game & Blog"
    a.nav-link.text-white(href = '/game') Game
script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js")
script(src="/js/app.js")