<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href='/css/styles.css')
        title="Phaser Game & Blog" + title
    body.min-vh-100.d-flex.flex-column.bg-first
        nav.navbar.navbar-dark.bg-third.justify-content-start
            a.navbar-brand(href = '/')="Phaser Game & Blog"
            .d-flex
                a.nav-link.text-white(href = '/about') About
                a.nav-link.text-white(href = '/blogs') Blogs
                a.nav-link.text-white(href = '/contact') Contact
                a.nav-link.text-white(href = '/game') Game
            .d-flex.ml-auto
                a.nav-link.text-white(href = '/login') Login

        #alerts